.leftSliderImage{
    width: 5%;
    height: 10%;
    left: 3%;
    top: 50%;
    position: absolute;
    z-index: 6;
    background: white;
    display: inline-block;
}

.rightSliderImage{
	width: 5%;
    height: 10%;
    right: 6%;
    top: 50%;
    position: absolute;
    z-index: 6;
    background: white;
}

.App{
	width: 100%;
	height: 100%;
	display: inline-block;
}

.SliderOuterDiv{
	width: 100%;
    height: 85%;
    float: left;
    display: inline-block;
    margin-top: 3%;
}

.leftSlider{
	width: 11%;
    height: 80%;
    float: left;
    display: inline-block;
    margin-left: 1%;
    cursor: pointer;
}

.imageDiv{
	display: inline-block;
    width: 75%;
    height: 90%;
    box-shadow: 0 6px 16px 3px hsla(0, 0%, 68%, 0.37);
    border: 0.2px solid #80808078;
    border-radius: 10px;
}

.rightSlider{
	width: 10%;
    height: 80%;
    float: right;
    display: inline-block;
    margin-right: 1%;
    cursor: pointer;
}

.headerDiv{
	width: 100%;
    height: 10%;
    text-align: center;
    font-family: lato;
    font-size: 36px;
    line-height: 2;
    color: #02404e;
    font-weight: bold;
}

body{
	margin: 0px !important;
}

.mainImage{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 10px;
}